<div class="row">
        <div class="col-sm-6 pic"></div>
        <div class="col-sm-6">
          <div class="text-center" style="width:400px; margin:30% auto;">
                <div ng-if="!Answers">LOADING...</div>
                <h1>{{category}}</h1>
                <ul>
                    <li ng-repeat="answer in Answers | limitTo: 5">
                        <a ng-click="saveEvent(answer)">{{answer.title}}</a>
                        <ul><li>{{answer.venue_name}}</li></ul>
                    </li>
                </ul>
                <ul>
                    <li ng-hide="hide" ng-repeat="answer in Answers | limitTo: -5">
                        <a ng-click="saveEvent(answer)">{{answer.title}}</a>
                        <ul><li>{{answer.venue_name}}</li></ul>
                    </li>
                </ul>
                <button ng-click="hidingShowing()">Show More/Less</button>
          </div>
        </div>
      </div>

<!-- <div ng-if="!Answers">LOADING...</div>
<h1>{{category}}</h1>
<ul>
  <li ng-repeat="answer in Answers | limitTo: 5">
    <a ng-click="saveEvent(answer)">{{answer.title}}</a>

    <ul> 
        <li>{{answer.venue_name}}</li>
    </ul>


  <li ng-hide="hide" ng-repeat="answer in Answers | limitTo: -5">
    <a ng-click="saveEvent(answer)">{{answer.title}}</a>

    <ul><li>
      <a ng-click="saveEvent(answer)">{{answer.venue_name}}</a>
    </li></ul>


  </ul>
  <button ng-click="hidingShowing()">Show More/Less</button> -->