div{
    font-family: 'Lora', serif;
}

body{

    background-image: url('https://img0.etsystatic.com/030/0/6387441/il_fullxfull.596579130_3fqy.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left; 
    background-size: 50% 100%;
}
.pic{
    height: auto;
    width: 120%;
}
